<header class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">Inicio - GestFerias</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                {% if current_user.is_anonymous %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.login') }}">Iniciar Sesión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.signup_form') }}">Registrarse</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('perfil.perfil', perfil_id=current_user.id) }}">
                            Perfil: 
                            {% if current_user.rol == 'ayuntamiento' %}
                                {{ current_user.ayuntamiento.municipio }}
                            {% elif current_user.rol == 'feriante' %}
                                {{ current_user.feriante.nombre }}
                            {% elif current_user.rol == 'publicitado' %}
                                {{ current_user.publicitado.nombre }}
                            {% else %}
                                {{ current_user.admin.nombre }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.signup_form') }}">Crear Usuario
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.logout') }}">Cerrar Sesión</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</header>
