{% extends "base/base_template.html" %}

{% block title %}Publicidad de {{ publicitado.nombre }}{% endblock %}

{% block content %}
<div class="container mt-1">
    <div class="row">
        <div class="col-md-6">
            <div class="card bg-dark-alt card-body text-light mt-2">
                <h3><a href="{{ url_for('perfil.perfil', perfil_id=publicitado.usuario_id) }}">{{ publicitado.nombre }}</a></h3>
                <p class="text-light">{{ publicitado.descripcion }}</p>
                Número de teléfono: {{ publicitado.tlf }}
            </div>
            {% if current_user.is_authenticated and (publicidad.idPublicitado == current_user.id or current_user.es_admin()) %}
                {% include 'publicidad/publicidad_buttons.html' %}
                {% include 'publicidad/paypal_info.html' %}
            {% endif %}
        </div>
        <div class="col-md-6 justify-content-center text-center mt-2">
            <img src="{{ url_for('static', filename='publicidades/' + publicidad.foto) }}" alt="Publicidad" style="max-width: 350px;" class="publicidad-image">
        </div>
    </div>
</div>
{% endblock %}
