<div class="perfil-ayuntamiento">
    <h5>Datos del Ayuntamiento</h5>
    <div class="mb-1"><strong>Nombre del Ayuntamiento:</strong> {{ perfil.ayuntamiento.municipio }}</div>
    <div class="mb-1"><strong>Descripción:</strong> {{ perfil.ayuntamiento.descripcion }}</div>
    <div class="mb-1"><strong>Comunidad Autónoma:</strong> {{ perfil.ayuntamiento.comunidad_autonoma }}</div>
    <div class="mb-1"><strong>Provincia:</strong> {{ perfil.ayuntamiento.provincia }}</div>
    <div><strong>Teléfono:</strong> {{ perfil.ayuntamiento.tlf }}</div>
</div>

